body {
    background-color: #515151;
    color: #ffffff;
}

#menu {
	color: #ffffff;
}

#menu a {
	color: #ffffff !important;
	text-decoration: none !important;
}


/* Header */
header ul li {
    margin-left: 3%;
}



/* Connnection page */
.connection-panel {
    margin-bottom: 5%;
}

.connection-panel-body {
    background-color: #282828;
}



/* Page liste des parties */
#game-container {
    background-color: #282828;
    padding: 4%;
}

.games-panel-game {
    border-radius: 5px;
    margin: 3%;
    margin-bottom: 10%;
}

.games-panel-game-body {
    background-color: #515151;
}

.games-player-area {
    margin-bottom: 12%;
}

.games-player {
    margin-bottom: 4%;
}

.games-create-game {
    background: none;
    border: 1px solid #ffffff;
}

#games-list {
	display: flex;
	flex-wrap: wrap;
}

/* Page partie en cours */
#dices-area {
    background-color: #267F00;
    margin-bottom: 15px;

    /* Flex */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#dices-area img {
    position: absolute;
}

.dice-selected {
	opacity: 0.5;
}

#buttons-area {
    margin-bottom: 15px;
    text-align: center;
}

#buttons-area-turn {
	margin-bottom: 15px;
}

#score-area {
    background-color: #ffffff;
    padding: 8px;
}

#score-table {
    width: 100%;
    color: #000000;
}

#score-table tr {
    border-bottom: 1px dotted #000000;
}

.score-top-border {
	border-top: 2px solid #000000 !important;
}

.score-bottom-border {
    border-bottom: 2px solid #000000 !important;
}

.score-left-border {
    padding: 0 6px;
    border-left: 2px solid #000000;
    text-align: center;

    /*Pour que la largeur soit collée au contenu*/
    width:1%;
    white-space:nowrap;
}

.score-combination-cell {
    background-color: #ADCAA2;
}

.score-winner {
	background-color: #A2BBFE;
}

/* Commun */
.alert-message button {
	color: black !important;
}



/* Media queries */
/* XS */
@media (max-width: 768px) {
	body {
		font-size: 1.5em;
	}

	h1 {
	    font-size: 1.4em;
	}

	/* Page partie en cours */
	#dices-area {
	    height: 130px;
	}

	#dices-area img {
		width: 28px;
	}
}

/* A partir de SM */
@media (min-width: 768px) {
	body {
		font-size: 1.7em;
	}

	h1 {
	    font-size: 1.5em;
	}	

	/* Page partie en cours */
	#dices-area {
	    height: 200px;
	}

	#dices-area img {
		width: 40px;
	}
}

/* A partir de MD */
@media (min-width: 992px) {
	/* Header */
	header {
	    margin-top: 2%;
	    margin-bottom: 2%;
	}

	/* Page partie en cours */
	#dices-area {
	    height: 400px;
	}

	#dices-area img {
		width: 50px;
	}
}



